# Banco (container Postgres)
POSTGRES_USER=cadeira_livre_user
POSTGRES_PASSWORD=cadeira_livre_password
POSTGRES_DB=cadeira_livre_db
DB_EXTERNAL_PORT=5433

# Backend (app)
DB_HOST=db
DB_PORT=5432
DB_USER=cadeira_livre_user
DB_PASS=cadeira_livre_password
DB_NAME=cadeira_livre_db
DB_SYNCHRONIZE=true
DB_LOGGING=false
DB_RUN_SEED=true
PORT=3000
PUBLIC_PORT=3001
BACKEND_EXTERNAL_PORT=3001
JWT_SECRET=supersecret

# Frontend
FRONTEND_EXTERNAL_PORT=5173
VITE_API_URL=http://localhost:3001
